{%extends 'YouTclone/base.html'%}
{%load static%}
{%block body%}
<main>
    <div class="video-grid">
        <div class="video-preview">
            <div class="thumbnail-row">
                <img class="thumbnail" src="{%static 'YouTclone/img-1.webp'%}">
                <div class="video-time">
                    14:20
                </div>
            </div>
            <div class="video-info-grid">
                <div class="channel-pic">
                    <img class="profie-picture" src="{%static 'YouTclone/ch-1.jpg'%}">
                </div>
                <div class="video-info">
                    <p class="video-title">
                        Ashneer &amp; Peyush को "Proxgy" की Inventive Pitch क्यों लगी Confusing? |Shark Tank India|Pitches
                    </p>
                    <p class="channel-name">SET India &#10004;</p>
                    <p class="video-views">658K views &#183; 2 days ago</p>  
                </div>
            </div>
        </div>
           
           <div class="video-preview">
                <div class="thumbnail-row">
                 <img class="thumbnail" src="{%static 'YouTclone/img-2.webp'%}">
                 <div class="video-time">
                    1:07:20
                </div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-pic">
                        <img class="profie-picture" src="{%static 'YouTclone/ch-2.jpg'%}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            Best of Arijit Singh Heart Touching Songs | Arijit Singh Songs
                        </p>
                        <p class="channel-name">Sw33t Hindi Songs</p>
                        <p class="video-views">3.1M views &#183; 6 months ago</p>  
                    </div>
               </div>
           </div>
          
           <div class="video-preview">
            <div class="thumbnail-row">
                <img class="thumbnail" src="{%static 'YouTclone/img-14.webp'%}">
                <div class="video-time">
                    15:40
                </div>
            </div>
            <div class="video-info-grid">
                <div class="channel-pic">
                    <img class="profie-picture" src="{%static 'YouTclone/ch-3.jpg'%}">
                </div>
                <div class="video-info">
                    <p class="video-title">
                        Funny TikTok video
                    </p>
                    <p class="channel-name">TikToke &#10004;</p>
                    <p class="video-views">4.2M views &#183; 5 days ago</p>  
                </div>
            </div>
        </div>
           
           <div class="video-preview">
                <div class="thumbnail-row">
                 <img class="thumbnail" src="{%static 'YouTclone/img-4.webp'%}">
                 <div class="video-time">
                    10:25
                </div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-pic">
                        <img class="profie-picture" src="{%static 'YouTclone/ch-4.jpg'%}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                           When Your Parent Is your Teacher...
                        </p>
                        <p class="channel-name">Punx Tv</p>
                        <p class="video-views">2.6M views &#183; 1 year ago</p>  
                    </div>
               </div>
           </div>

           <div class="video-preview">
            <div class="thumbnail-row">
                <img class="thumbnail" src="{%static 'YouTclone/img-11.webp'%}">
                <div class="video-time">
                    14:26
                </div>
            </div>
            <div class="video-info-grid">
                <div class="channel-pic">
                    <img class="profie-picture" src="{%static 'YouTclone/ch-11.jpg'%}">
                </div>
                <div class="video-info">
                    <p class="video-title">
                        Learn HTML with harry | HTML tutorial
                    </p>
                    <p class="channel-name">CodeWithHarry &#10004;</p>
                    <p class="video-views">4.5M views &#183; 5 months ago</p>  
                </div>
            </div>

        </div>
           
           <div class="video-preview">
                <div class="thumbnail-row">
                 <img class="thumbnail" src="{%static 'YouTclone/img-12.webp'%}">
                 <div class="video-time">
                    15:20
                </div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-pic">
                        <img class="profie-picture" src="{%static 'YouTclone/ch-12.jpg'%}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                            5 Interseting project ideas in 2022 | Coding projects
                        </p>
                        <p class="channel-name">Coding Ninjas</p>
                        <p class="video-views">3.1M views &#183; 6 months ago</p>  
                    </div>
               </div>
           </div>
           <div class="video-preview">
            <div class="thumbnail-row">
                <img class="thumbnail" src="{%static 'YouTclone/img-7.webp'%}">
                <div class="video-time">
                    4:26
                </div>
            </div>
            <div class="video-info-grid">
                <div class="channel-pic">
                    <img class="profie-picture" src="{%static 'YouTclone/ch-6.jpg'%}">
                </div>
                <div class="video-info">
                    <p class="video-title">
                       Ik Mulaqaat | Dream Girl
                    </p>
                    <p class="channel-name">Zee Music Company &#10004;</p>
                    <p class="video-views">50M views &#183; 2 year ago</p>  
                </div>
            </div>
        </div>
           
           <div class="video-preview">
                <div class="thumbnail-row">
                 <img class="thumbnail" src="{%static 'YouTclone/img-8.webp'%}">
                 <div class="video-time">
                    14:00
                </div>
                </div>
                <div class="video-info-grid">
                    <div class="channel-pic">
                        <img class="profie-picture" src="{%static 'YouTclone/ch-7.jpg'%}">
                    </div>
                    <div class="video-info">
                        <p class="video-title">
                           Mclearn on mumbai roads with dubai number plate
                        </p>
                        <p class="channel-name">Car Drives</p>
                        <p class="video-views">3.1M views &#183; 6 months ago</p>  
                    </div>
               </div>
           </div>
           <div class="video-preview">
            <div class="thumbnail-row">
             <img class="thumbnail" src="{%static 'YouTclone/img-13.webp'%}">
             <div class="video-time">
                9:20
            </div>
            </div>
            <div class="video-info-grid">
                <div class="channel-pic">
                    <img class="profie-picture" src="{%static 'YouTclone/ch-13.jpg'%}">
                </div>
                <div class="video-info">
                    <p class="video-title">
                        Trying Weird Things on World's First Smart Projector !
                    </p>
                    <p class="channel-name">Tech Burner &#10004;</p>
                    <p class="video-views">3.1M views &#183; 6 days ago</p>  
                </div>
           </div>
       </div>

    </div>
</main>
{%endblock%}